html {
	color: #cccccc;
	font-family: Segoe UI Symbol, sans-serif;
	background-color: #333;
	background: -webkit-linear-gradient(bottom, #303030, #343434, #383838, #3c3c3c, #404040, #444444, #484848, #4c4c4c, #505050);
	min-height: 100%;
}

* {
	font-family: Segoe UI Symbol;
}

.toolbar {
	overflow: hidden;
	background-color: #111;
	background: -webkit-linear-gradient(bottom, #111, #333);
	position: fixed;
	margin: 0px;
	top: 0px;
	left: 0px;
	width: 52px;
	height: 100%;
	z-index: 30;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.tool {
	margin: 4px;
	width: 44px;
	height: 44px;
	line-height: 44px;
	cursor: default;
	display: inline-block;
	color: #aaa;
	position: relative;
	text-align: center;
	top: 0px;
	font-size: 24px;
	border-radius: 2px;
	-webkit-transition: background-color 0.1s;
}
.tool:hover {
	color: #ccb;
	background-color: #222;
}
.tool:active {
	color: #998;
}

.tool#reload {
	font-size: 24px;
	float: right;
}
.tool#time {
	font-size: 28px;
	float: right;
}

.dialog {
	position: fixed;
	top: 0;
	max-height: 100%;
	background-color: #222;
	transition: width 0.15s;
	-webkit-transition: width 0.15s;
	z-index: 20;
	overflow-y: auto;
}
.dialog:not(#dialog_open) {
	padding: 10px;
}
.map_header_item {
	margin: 8px;
}
.map_header_key {
	display: inline-block;
	padding: 2px 8px 2px 2px;
}
.map_header_param {
	display: inline-block;
	float: right;
}
.map_header_confirm {
	display: inline-block;
}

.tileset-list {
	max-height: 300px;
	max-width: 500px;
	overflow-y: auto;
}
.tileset-preview {
	display: inline-block;
	vertical-align: top;
	width: 96px;
	height: 128px;
	margin: 4px;
}
.tileset-preview.selected {
	outline: solid red;
}

.dialog#dialog_open {
	overflow-y: scroll;
	min-height: 100%;
	min-width: 300px;
}
.map_list {
	margin: 18px;
}
.map_name {
	padding: 1px 4px;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}
.map_name:hover {
	background-color: #333;
}
.map_name:active {
	background-color: #444;
}
.map_name.selected {
	background-color: #444;
}

.resize-bar {
	background: #444;
	position: absolute;
}

.picker-wrapper {
	transition: right 0.15s;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	padding: 8px;
	box-sizing: padding-box;
}

.pickerbar {
	background-color: #111;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 100%;
	z-index: 10;
}
.pickerbar:hover {
}

.view-wrapper {
	text-align: center;
}
.view_container {
	position: relative;
	display: inline-block;
	transition: width 0.15s height 0.15s;
	margin-left: 52px;
	margin-right: 160px;
}
.map_viewer {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.picker {
	display: block;
	border-radius: 2px;
}

.balloon {
	background-color: #eee;
	color: #333;
	padding: 10px;
	min-width: 128px;
	border-radius: 10px;
}
.balloon small {
	font-size: 0.75em;
}

.coords {
	position: relative;
	float: left;
	top: 52px;
}

.old_dialog {
	position: fixed;
	text-align: center;
	background-color: #333;
	background: -webkit-linear-gradient(bottom, #101010, #181818, #202020, #282828, #303030);
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	top: 20%;
	left: 35%;
	right: 35%;
	width: 30%;
	max-width: 364px;
	min-width: 100px;
	height: auto;
	border-radius: 2%;
	z-index: 20;
}
input#name {
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	width: 100%;
	max-width: 300px;
	font-size: 28px;
	border-radius: 5px;
}

form#ptile {
	display: inline;
	width: 50px;
}
input#ptilei {
	position: relative;
	top: -4px;
	font-size: 20px;
	font-weight: bold;
	width: 42px;
	padding: 4px;
	border: 0px;
	border-radius: 6px;
}
